<form>
    <label for="sortType">Sort by: </label>
    <select id="sortType" (change)="sortBooks($event)">
        <option value="title-asc">Title ascending</option>
        <option value="title-desc">Title descending</option>
        <option value="price-asc">Price ascending</option>
        <option value="price-desc">Price descending</option>
    </select>
</form>

<form>
    <label for="search">Search: </label>
    <input type="text" id="search" placeholder="Search by title or author" (input)="searchBooks($event)">
</form>

<div *ngIf="showSuccessMessage" class="success-message-div">
    <div class="success-message">
        <span [innerHTML]="successMessage"></span>
        <button (click)="hideSuccessMessage()">OK</button>
    </div>
</div>

<div id="bookDiv">
    <h3 *ngFor="let book of books$ | async">
        <b>{{ book.title }}</b>
        <p>By {{ book.author }}</p>
        <p>{{ book.price }} euros</p>
        <input type="button" value="Add to cart" (click)="addToCart(book.id)">
    </h3>
</div>
