h3 {
  font-size: 1.5em;
  padding: 0.5%;
  margin: 0.5%;
}

#ordersDiv {
  border: 1px solid #ccc; 
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 0.5%;
  margin: 1%;
  background-color: #f8f8f8;

  h3 {
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 0.5%;
    margin: 1%;
    background-color: #f8f8f8;
    font-size: 1.2em;

    div {
      border: 1px solid #ccc; 
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      padding: 0.5%;
      margin: 1%;

      p {
        margin: 5px 0;
        font-size: 1em;
      }
    }

    p {
      padding: 0.5%;
      margin: 1%;
      font-size: 1em;
    }
  }
}
