<h3>Payment details</h3>
<h4>Total: {{ total }} euros</h4>

<form (ngSubmit)="placeOrder(paymentForm)" [formGroup]="paymentForm">
    <label for="type">Payment method: </label>
    <select formControlName="type" name="type" id="type">
        <option value="Credit card">Credit card</option>
        <option value="Debit card">Debit card</option>
        <option value="Cash">Cash (on delivery)</option>
    </select>

    <input type="submit" value="Place order">

    <div *ngIf="showError" class="error-message">
        <span [innerHTML]="errorMessage"></span>
    </div>
</form>

<div *ngIf="showSuccessMessage" class="success-message-div">
    <div class="success-message">
        <span [innerHTML]="successMessage"></span>
        <button (click)="hideSuccessMessage()">OK</button>
    </div>
</div>
