<div id="userOrdersDiv">
    <h3 *ngFor="let userOrder of orders">
        <h3>Order: </h3>
        <div *ngFor="let bookOrder of userOrder.bookOrders">
            <p>{{ bookOrder.book.title }}</p>
            <p>By {{ bookOrder.book.author }}</p>
            <p>Price: ${{ bookOrder.price }}</p>
            <p>Quantity: {{ bookOrder.quantity }}</p>
        </div>
        <p>Total: ${{ userOrder.payment.total }}</p>
        <p>Date placed: {{ userOrder.date | date: 'medium' }}</p>
        <p>Delivery city: {{ userOrder.city }}</p>
        <p>Delivery address: {{ userOrder.address }}</p>
        <p>Order status: {{ userOrder.status }}</p>
    </h3>
</div>
