h3 {
  font-size: 1.5em;
  padding: 0.5%;
  margin: 0.5%;
}

#editBooksDiv {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 1%;

  h3 {
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 2%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 1%;
    display: flex;
    flex-flow: column;
    background-color: #f8f8f8;
  }

  p {
    padding: 0.5%;
    margin: 1%;
  }
}
