<h3>Add a book </h3>
<form (ngSubmit)="createBook(createBookForm)" [formGroup]="createBookForm">
    <div>
        <label>Title: </label>
        <input formControlName="title" />
    </div>

    <div>
        <label>Author: </label>
        <input formControlName="author" />
    </div>

    <div>
        <label>Price: </label>
        <input formControlName="price" type="number" step="1" min="1" max="100" />
    </div>

    <input type="submit" value="Add book">

    <div *ngIf="showCreateMessage" class="error-message">
        <span [innerHTML]="createMessage"></span>
    </div>
</form>


<h3>Change the price of a book </h3>
<form (ngSubmit)="updateBookPrice(updateBookPriceForm)" [formGroup]="updateBookPriceForm">
    <div>
        <label>Id: </label>
        <input formControlName="id" />
    </div>

    <div>
        <label>New price: </label>
        <input formControlName="price" type="number" step="1" min="1" max="100" />
    </div>

    <input type="submit" value="Update price">

    <div *ngIf="showUpdateMessage" class="error-message">
        <span [innerHTML]="updateMessage"></span>
    </div>
</form>


<h3>Delete a book </h3>
<form (ngSubmit)="deleteBook(deleteBookForm)" [formGroup]="deleteBookForm">
    <div>
        <label>Id: </label>
        <input formControlName="id" />
    </div>

    <input type="submit" value="Delete book">

    <div *ngIf="showDeleteMessage" class="error-message">
        <span [innerHTML]="deleteMessage"></span>
    </div>
</form>


<div id="editBooksDiv">
    <h3 *ngFor="let book of books$ | async">
        <p>ID: {{ book.id }}</p>
        <p>Title: {{ book.title }}</p>
        <p>Author: {{ book.author }}</p>
        <p>Price: ${{ book.price }}</p>
    </h3>
</div>


<div *ngIf="showSuccessMessage" class="success-message-div">
    <div class="success-message">
        <span [innerHTML]="successMessage"></span>
        <button (click)="hideSuccessMessage()">OK</button>
    </div>
</div>
