h3 {
  font-size: 1.5em;
  padding: 0.5%;
  margin: 0.5%;
}

#cartDiv {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  
  h3 {
    display: flex;
    flex-direction: column; 
    background-color: #f8f8f8;;
    width: 20%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;

    p {
      margin-top: 1%;
    }
  
    div {
      margin-top: 1%;
      margin-bottom: 1%;
      label {
        margin-right: 1%;
        margin-bottom: 1%;
      }
  
      input.quantity {
        width: 10%;
        padding: 1%;
      }
    }
  
    input[type="button"] {
      background-color: #d9534f; 
      color: white;
      padding: 2.5%;
      margin-top: 2.5%;
      margin-bottom: 2.5%;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      width: 100%;
      font-size: 0.8em;
    }
  
    input[type="button"]:hover {
      background-color: #c9302c;
    }
  }
}

input[type="button"] {
  background-color: #5bc0de; 
  color: white;
  padding: 0.5%;
  margin: 0.5%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 10%;
  font-size: 1em;
}

input[type="button"]:hover {
  background-color: #46b8da; 
}
